@import "tailwindcss";

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

@font-face {
  font-family: "Quicksand-Regular";
  src: url("assets/fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand-Medium";
  src: url("assets/fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand-Light";
  src: url("assets/fonts/Quicksand-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand-Bold";
  src: url("assets/fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand-SemiBold";
  src: url("assets/fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-quicksand-800: "Quicksand-Bold";
  --font-quicksand-700: "Quicksand-SemiBold";
  --font-quicksand-600: "Quicksand-Medium";
  --font-quicksand-400: "Quicksand-Regular";
  --font-quicksand-200: "Quicksand-Light";
  --color-primary: #5500ff;
  --color-secondary: #d9c7ff;
}
